:root {
    --portfolio: orange;
    --skills: yellow;
    --project: green;
    --contact: purple;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 24px;
    background: dodgerblue;
}

header {
    background: darkred;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero, .skills, .project, .contact {
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 1px solid black;
}

.hero {
    background: var(--portfolio);
    border: 1px solid var(--portfolio);
}

.welcome-header {
    display: flex;
    gap: 12px;
}

.skills {
    padding: 20px;
    text-align: left;
    background: var(--skills);
    border: 1px solid var(--skills);
}

.project {
    margin: 20px;
    text-align: left;
    color: white;
    background: var(--project);
    border: 1px solid var(--project);
}

.contact {
    margin: 20px;
    text-align: left;
    color: white;
    background: var(--contact);
    border: 1px solid var(--contact);
}

.contact p{
    text-align: left;
    line-height: 0.5;
}

footer {
    text-align: center;
    padding: 10px;
    background: pink;
    font-size: 14px;
}

p,ul,li {
    font-size: 24px;
}

a {
    font-size: 22px;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: #98FF98;
}

a:hover {
    color: darkblue;
}

a:active {
    color: #FFD1DC;
}